@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    padding: 52px;
}

.homepage {
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 25px;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    display: inline-block;
    margin-bottom: 5px;
}

.input-button {
    display: flex;
    column-gap: 30px;
    margin-bottom: 10px;

}

.search-input {
    border: 1px solid #000000;
    width: 374px;
    height: 48px;
    box-sizing: border-box;
    padding: 16px;
    font-weight: 300;
    font-size: 20px;
    line-height: 121%;
}

.search-button {
    width: 120px;
    height: 48px;
    background: #833AE0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.advanced-filter {
    margin-bottom: 60px;
}

.advanced-filter a {
    font-size: 14px;
    line-height: 109%;
    color: black;
    text-decoration: underline;

}

.advanced-filter img {
    width: 12px;
    height: 6px;
}

.all-coins {
    display: flex;
}

.all-coins .coin {
    width: 30%;
}

.all-coins h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 20px;
}

.all-coins .coin h6 {
    font-weight: 300;
    font-size: 14px;
    line-height: 109%;
    display: inline;
}

.show-all-filter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;

}

.show-all-arrow {
    width: 9px;
    height: 4px;
    transform: rotate(-90deg);
}